.env
.env.dev
public
docker-compose.development.local.yml
docker-compose.yml
**/__pycache__/*
.idea/*
venv
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
tests.http
redis.conf
cert.crt
cert.key
env/
.vscode/
report.xlsx
dump.rdb
media
static
requirement.txt
celerybeat-schedule
api_test.http
http-client.env.json
TestFiles
local.yml
redis
