{% extends "admin/change_list.html" %}

{% load i18n %}

{% block object-tools-items %}
    {% if action_form and actions_on_top and cl.show_admin_actions %}
        {% for action_choice in action_form.action_choices %}
            {% if action_choice.1 != 'delete_selected' %}
                <li>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="_selected_action" value="{{ action_checkbox }}" />
                        <input type="hidden" name="action" value="{{ action_choice.0 }}" />
                        <button type="submit" class="button" name="{{ action_choice.0 }}">{{ action_choice.1 }}</button>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% block object-tools-items-additional %}
        <li>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="_selected_action" value="{{ action_checkbox }}" />
                <button type="submit" class="button" name="action" value="delete_selected" onclick="return confirm('Are you sure you want to delete the selected items?');">Delete selected</button>
            </form>
        </li>
    {% endblock %}
{% endblock %}
